fastapi
uvicorn
pandas
google-generativeai
joblib
scikit-learn
tabulate
numpy
python-dotenv
langchain
langchain-google-genai
langchain-experimental
# streamlit  <-- (Xem lưu ý phía dưới của mình nhé)
openai
httpx==0.27.2
PyYAML==6.0.1
langchain-core==0.2.43
numpy>=2.0.0